.u-center {
    text-align: center;
}

.u-mar-bot-small {
    margin-bottom: 3rem;
}

.u-mar-bot-med {
    margin-bottom: 4rem;
}

.u-mar-bot-lar {
    margin-bottom: 6rem;
}

.u-mar-top-lar {
    margin-top: 10rem;
}


.u-mar-top-med {
    margin-top: 4rem;
}

.u-mar-top-small {
    margin-top: 2rem;
}


.u-mar-right-small {
    margin-right: 2rem;
}
