// Colors

$color-but-primary:#3F00C9;
$color-but-secondary:  #5200FF;


$color-primary:#000000;
$color-secondary:  #5200FF;
$color-tertiary: #FEB409;

$color-grey: #F7F7F7;
$color-white: #ffffff;
$color-black: #000000;

//typography color
$text-col-prime: #313C54;
$text-col-grey:#5A6576;
$text-col-blue:#3F00C7;
// $text-col-blue:#313C54;