.header {
    background-color: $color-primary;
    height: 58.3rem;

    position: relative;

    &__text-box {
        width: 49rem;
        position: absolute;
        top: 24%;
        left: 15%;
    }
    
    
    &__hero {
        z-index: 10;
        width: 55%;
        position: absolute;
        top: 0;
        right: 0;
    }

}