.section-industry {
    padding: 6rem 0;
    position: relative;

    &__heading-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30rem 30rem  0 30rem;
    }

    &__container{
        display: flex;
        justify-content: flex-end;
        
    } 
    &__box {
        padding: 2rem 4rem;
        margin: 1rem;
        background-color: black;
        height: 25rem;
        width: 40rem;
        border-radius: 1rem;
        background:$color-white;
        box-shadow: 0rem 1rem 4rem rgba(229, 229, 229, 0.5);

        &--1{
            margin-left: 7rem; 
        }

        &--2{
            margin-left: 7rem; 
            margin-top: -1rem;
        }

        &--3{
            margin-left: 7rem; 
            margin-top: -2.5rem;
        }
        
    }
    
}

.section-about {
    padding: 6rem 0;
    display: flex;
    justify-content: flex-end;

    &__container{
        display: flex;

        &-box {
            margin: 1rem;
            padding: 2rem;
            width: 20rem;
            height: 11.2rem;
            background: $color-white;
            box-shadow: 0rem 1rem 40rem #E5E5E5;
            border-radius: .6rem;

            &--img{
                margin-left: 10rem;
                margin-bottom: -1.5rem;

                &--2 {
                    margin-left: 13rem;
                    margin-bottom: -1.5rem;
                }
            }
        }

        &-sub {
            &--down{
                margin-top: 4rem;
            }
        }
    }
}

.section-testimonial {
    padding: 6rem 0;

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__container{
        display: flex;
        flex-direction: column;
        
    } 
    &__box--1 {
        padding: 4rem;
        margin: 1rem;
        background-color: black;
        height: 25rem;
        width: 40rem;
        border-radius: 1rem;
        background:$color-white;
        box-shadow: 0rem 1rem 4rem rgba(229, 229, 229, 0.5);
        
    }

    &__box--2 {
        padding: 4rem;
        margin: 1rem;
        background-color: black;
        height: 40rem;
        width: 40rem;
        border-radius: 1rem;
        background:$color-white;
        box-shadow: 0rem 1rem 4rem rgba(229, 229, 229, 0.5);
        
    }

    &--img{
        margin-bottom: -1.5rem;
    }
}

.section-work {
    padding: 6rem 0;

    &__container{
        display: flex;
        justify-content: center;
    } 
    &__box {
        margin: 2rem;
        height: 40rem;
        width: 40rem;
        

        &--img {
            margin-bottom: 3rem;
            width: 100%;
            box-shadow: 0rem 1rem 4rem rgba(229, 229, 229, 0.5);
        }
    }

}

.section-contact {
    padding: 5rem 0;
    display: flex;
    justify-content: flex-end;


}

.container {
    z-index: -20;
    width: 75%;
    padding: 5rem;
    background: $color-grey;

    &__grey-box {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;

        &--left {
            flex: 0 1 25%;
        }
    
        &--right{
            flex: 0 1 50%;
    
        }
        &--img {
            width: 100%;
            margin-top: -8.4rem;
        }
        
    }


}


