.service-layout{
    
    padding: 6rem 0;
    position: relative;
    display: flex;
    justify-content: space-evenly;


   &__container--list {

        &-box {
            display: flex;
            flex-direction: column;
        }
   } 

    &__container--box{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        
    } 
    &__box {
        width: 100%;
        padding: 4rem 4rem;
        margin: 1rem;
        border-radius: 1rem;
        background:$color-white;
        box-shadow: 0rem 1rem 4rem rgba(229, 229, 229, 0.5);

        display: flex;
        justify-content: space-between;

        &-container--right {
            order: 2;
        }

        &-container--left {
            order: 1;

            &-services {
                display: flex;
            }
        }   

        &--1{
            // margin-left: 7rem; 

        }

        &--2{
            // margin-left: 7rem; 
            margin-top: -1rem;
        }

        &--3{
            // margin-left: 7rem; 
            margin-top: -2.5rem;
        }
        
    }
    
}