form {
    padding: 5rem;
    width: 40rem;
    background-color:$color-white;
    border-radius: 3rem;
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07); }

  .form-group {
    padding: 0;
    border: 0; }
    .form-group + .form-group {
      margin-top: 4rem; }
  

  
  input,
  textarea,
  select,
  option {
    display: block;
    padding: 1rem;
    width: 100%;
    font-size: 1.8rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #eee;
    border-radius: 3px;
    transition: all 0.25s cubic-bezier(0.4, 0, 1, 1); }
    input:focus,
    textarea:focus,
    select:focus,
    option:focus {
      outline: 0;
      border-color: #ffab00; }
  
  textarea {
    resize: vertical; }
   
    
input
textarea,
select,
option,
    ::placeholder
    {
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 2rem;
        color: #eeee;
}

.form-btn {
    display: inline-block;
    padding: .75rem 1rem;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    vertical-align: middle;
    white-space: nowrap;
    background-color: $color-tertiary;
    border: 1px solid transparent;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
    cursor: pointer;
    user-select: none;
    transition: all .2s;
    
    &:focus,
    &:hover {
      background-color: lighten($color-primary, 13%);
      box-shadow: 0 18px 35px rgba(50,50,93,.1),0 8px 15px rgba(0,0,0,.07);
    }
    
    &:focus {
      outline: 0;
    }
    
  }

